{% extends 'base.html' %}
{% block search_result %}
    <h2>Soalan Lazim</h2>
    <ol>
        <li>
        <b>Soalan: Kenapa tidak menggunakan laman 1pengguna.com ?</b><br />
        Jawapan: Carian di laman 1pengguna.com agak sukar dilakukan terutama
        melalui bimbit biasa (bukan smartphone) yang mempunyai skrin kecil. Ini
        adalah sebab utama saya membangunkan laman ini untuk memudahkan cari
        melalui telefon bimbit saya. Disamping itu saya juga berharap dapat
        menghasilkan keputusan carian yang lebih baik berbanding laman
        1pengguna.com. Maklumat lanjut berkaitan latar belakang laman ini boleh
        dirujuk di laman <a href="http://k4ml.blogspot.com/2012/10/aplikasi-carian-harga-barang-barang.html">blog saya</a>.
        </li>
        
    </ol>
{% endblock %}
